* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: white;
  font-family: sans-serif;
}

.title {
  color: rgb(102, 102, 102);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
}

lime {
  color: rgb(132, 191, 85);
}

.time {
  color: rgb(102, 102, 102);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10vh;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  font-size: 20px;
  background: rgb(132, 191, 85);
  border-radius: 30px;
  cursor: pointer;
  margin: 2vh;
}
